* {
	margin: 0;
}
html, body { 	
	background-color: #000000; 
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 11px; 
	height: 100%;
	padding: 0px;
	margin: 0px;
	color: #FFFFFF;
}
img {  
	border-style: none;
}
a:link, a:visited { 
	text-decoration:none;
	color: #00CCFF;
}
a:active, a:active img { 
	outline: none;
	border: none;
}

h2 {
	clear: left;
	margin: 20px 0 10px 0;
}



 




/** 
  page Admin 
 
  */
  
.clear {
	clear: both;
}
.hidden {
	display: none;
}
.auth-notification {
	float: left;
	margin: 7px 20px 0 0;
}
.auth-buttons {
	margin: 7px 0 10px 5px;
}
.languagediv {
	margin: 7px 0 0 0;
}

.row {
	color: #8a8a8a; 
	clear: both;
}
.row > div { float: left; }

div.title { width: 360px; margin: 0 5px 0 5px; }
div.progress { margin: 2px 8px 0 0;}
div.showlink { margin: 0 5px 0 5px; }

.form-field { padding-top: 10px; }
.form-field input { float: left; margin-right: 3px; clear: both; }
.form-field label { float: left; margin-right: 10px;}
.form-field button { float: right; margin-top: 20px;}

.deletebutton { display: block; width:16px; height:16px; background-image:url('b_drop.png'); background-repeat: no-repeat; }
.deletebutton  span { display: none; }
.playbutton { display: block; width:18px; height:17px; background-image:url('VLC.png'); background-repeat: no-repeat; }
.playbutton  span { display: none; }
.savebutton { display: block; width:16px; height:16px; background-image:url('download.png'); background-repeat: no-repeat; }
.savebutton  span { display: none; }

.linkdisplay div {
	float: left;
	clear: left;
	margin: 5px;
}
.linkdisplay textarea, input {
	margin-bottom: 10px; 
}

.addupload p label {
	display: block;
	float: left;
	width: 80px;
	margin: 0 10px 0 0;
	padding: 0;
	text-align: right;
}

.filemeta {
	margin: 10px 0px 10px 10px;;
}

#paidcontentdetails {
	display:none;
}

.meta-fields p { width: 100%; margin: 10px auto; padding: 0; overflow: hidden; }
.meta-fields p label { display: block; float: left; width: 80px; margin: 0 10px 0 0; padding: 0; text-align: right; }
.meta-fields p span { display: block; float: left; margin: 0 10px 0 0; padding: 0; }

.example {
	font-family: sans-serif, Helvetica, Arial;
	color: #AAAAAA;
	margin: 0px 90px;
	line-height: 19px;
}


#isrunning {
	text-align: center;
}
#maincontent {
	width: 90%;
	margin: 20px auto;
}
#mainleftcolumn {
	float: left;
	width: 700px;
}
#mainrightcolumn {
	float: right;
	margin-top: 30px;
	margin-right: 50px;
	width: 280px;
}


#uploadslistnavigation {
	clear: left;
}
#uploadslistnext a {
	float: right;
	padding-right: 50px;
}
#uploadslistprevious a {
	float: left;
	padding-left: 10px;
}
#uploadslistnext a, #uploadslistprevious a {
	color: #fff;
}

#uploadviewsstatistics {
	margin-bottom: 10px;
}

label { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }


#natdetailsudp { padding-top: 5px; padding-bottom: 5px; }
#natdetailstcp { padding-top: 5px; padding-bottom: 5px; }
.detailslabel { width: 110px; float: left; }
.detailsvalue { width: 230px; }

#menubuttons div { padding: 10px; float: left; }

#mylanguage { float: left; padding-right: 5px;}
		
/**
  end page Admin 
  
  */